{%extends "base.html"%}
{%block title%}
<title>
    SideIncome - Reset Password
</title>
{%endblock%}

{%block username%}
{{request.session.username}}
{%endblock%}

{%block content%}
<section class="change-password card rounded-box container">
    <form action="/updatePassword/" method="POST">
        {% csrf_token %}
        <p>New Password</p>
        <input type="text" name="user_id", style="display:none;" value="{{user.id}}">
        <input type="text" name="user_type", style="display:none;" value="{{user.user_type}}">
        <input type="password" name="newPassword1" autofocus required>
        <p>Re-type New Password</p>
        <input type="password" name="newPassword2" required>
        <button type="submit" class="button"><i class="fas fa-share-square"></i>Update now</button>
    </form>
</section>
{%endblock%}