{%extends "base.html"%}
{%block title%}
<title>
    SideIncome - Register Company
</title>
{%endblock%}

{%block username%}
{{request.session.username}}
{%endblock%}

{%block content%}
<section class="register-selection card rounded-box container">
    <a href="/registerUser/"><i class="fas fa-user"> Register User</i></a>
    <a href="/registerCompany" class="register-highlighted-right"><i class="fas fa-building"> Register Company</i></a>
</section>

<section class="form-field card rounded-box container">
    <form action="/storeCompany/" method="POST" id="companyRegForm" enctype="multipart/form-data">
        {% csrf_token %}
        <p>
            Company Email
            {%if email_crashed%}
            <i class="danger">(Email has been registered)</i>
            {%endif%}
        </p>
        <input type="email" name="email" autofocus required>

        <p>Company Name</p>
        <input type="text" name="username" required>

        <p>
            Company Reg Number
            {%if reg_crashed%}
            <i class="danger">(Registration number has been used)</i>
            {%endif%}
        </p>
        <input type="text" name="company_reg" required>

        <p>Types of Company</p>
        {%include "companyTypeSelect.html"%}

        <p>Contact</p>
        <input type="text" name="contact" required id="contact">

        <p>Location</p>
        <p>
            <label for="country">Country</label>
            <select id="countrySelect"></select>
            <input type="text" name="country" style="display:none" id="country" value="Malaysia" required>
            <label id="labelState" for="state">State</label>
            <select id="stateSelect"></select>
            <input type="text" name="state" style="display:none" id="state" value="">
        </p>
        <p>
            Password
            {%if password_matched == False%}
            <i class="danger">(Password 1 doesn't matched with password2)</i>
            {%endif%}
        </p>
        <input type="password" name="password" required>

        <p>Re-type Password</p>
        <input type="password" name="password2" required>

        <p>Spoken languages (Optional)</p>
        <input type="text" name="spoken_lang" value="{{user.spoken_lang}}" class="uneditable" id="spokenLang" readonly>
        <div class="checkbox-lang">
            <input type="checkbox" value="English" id="engLang"> English
            <input type="checkbox" value="Mandarin" id="mandLang"> Mandarin
            <input type="checkbox" value="Malay" id="malayLang"> Malay
        </div>

        <p>Website (Optional)</p>
        <input type="text" name="website">

        <p>Company profile picture</p>
        <input type="file" name="img" accept="image/*">

        <button type="button" class="button" id="submitForm"><i class="fas fa-share-square"></i> Register</button>
    </form>
</section>

{%load static%}
<script src="{%static 'script/loadLocationSelection.js'%}"></script>
<script src="{%static 'script/langPicker.js'%}"></script>
<script src="{%static 'script/companyFormChecker.js'%}"></script>
{%endblock%}