{%extends "base.html"%}
{%block title%}
<title>
    SideIncome - Retrieve Password
</title>
{%endblock%}

{%block username%}
{{request.session.username}}
{%endblock%}

{%block content%}
<section class="retrieve-password card rounded-box container">
    <form action="/retrievalSuccess/" method="POST">
        {% csrf_token %}
        <p>Enter your email here:</p>
        <input type="email" name="email" autofocus required><br>
        <button type="submit" class="button"><i class="fas fa-share-square"></i> Retrive Password</button>
    </form>
</section>
{%endblock%}
